body{
  background-color: #000000!important;
  color: white!important;
  
}


.nav-link {
  color: white !important;
}

a {
  text-decoration: none!important;
}

li {
  list-style: none;
  color: white !important;
}




