.cardimage img{
    width: 100%;
    margin-left: 7rem;
}

.card-text{
    display: flex;
    align-items: center;
    
}



.card-text >div >h1 {
    font-weight: 600;
    font-size: 48px;
    max-width: 33rem;
}

.card-text >div >p {
    font-weight: 400;
    font-size: 18px;
    max-width: 27rem;
}

.card-text>div>button{
    width: 170px;
    height: 64px;
    background-image: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    font-weight: 800px;
    font-size: 20px;
    border-radius: 10px;
}

